@model List<EquipmentViewModel>
@{
    ViewData["Title"] = "已购买";
}

@if (Model.Count > 0)
{
    <h1 class="text-center">购买的设备</h1>
}
else
{
    <div class="text-center">
        <h1 class="display-4">您没有购入任何设备</h1>
    </div>
}

<div class="container">
    <div class="text-left">
        <a asp-action="Index" style="margin-left:33px" class="btn btn-primary">我的设备</a>
        <a asp-action="MySold" style="margin-left:33px" class="btn btn-outline-danger">我售出的设备</a>
    </div>
    @if (Model.Count > 0)
    {
        <div class="row">
            @foreach (var aEquipment in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 py-3 px-lg-5 ">
                    <div class="card" style="width: 100%;">
                        <img src="@aEquipment.ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@aEquipment.Name</h5>
                            <p class="card-text">
                                类型：@(Units.GetEnumName(Html.GetEnumSelectList(typeof(EquipmentType)), aEquipment.Type))
                            </p>
                            <p class="card-text">
                                购入价格：@(aEquipment.SoldPrice.ToString())元
                            </p>
                            @if (aEquipment.Describe.Length > 26)
                            {
                                <p class="card-text">@aEquipment.Describe.Substring(0, 26)…</p>
                            }
                            else
                            {
                                <p class="card-text">@aEquipment.Describe</p>
                            }
                            <a asp-action="Details" asp-route-id="@aEquipment.Id"
                                    asp-route-returnUrl="@System.Web.HttpUtility.UrlEncode("/Equipment/MyPurchase")"
                                    class="btn btn-primary btn-block">
                                详情
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>