@model List<EquipmentViewModel>
@{
    ViewData["Title"] = "共享中";
}

@if (Model.Count > 0)
{
    <h1 class="text-center">正在被共享的设备</h1>
}
else
{
    <div class="text-center">
        <h1 class="display-4">您没有正在共享中的设备</h1>
    </div>
}

<div class="container">
    <div class="text-left">
        <a asp-action="Index" style="margin-left:33px" class="btn btn-primary">我的设备</a>
        <a asp-action="MyBorrow" style="margin-left:33px" class="btn btn-outline-info">我借用的设备</a>
    </div>
    @if (Model.Count > 0)
    {
        <div class="row">
            @foreach (var aEquipment in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 py-3 px-lg-5 ">
                    <div class="card" style="width: 100%;">
                        <img src="@aEquipment.ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@aEquipment.Name</h5>
                            <div class="card-text">
                                类型：@(Units.GetEnumName(Html.GetEnumSelectList(typeof(EquipmentType)), aEquipment.Type))
                            </div>
                            <div class="card-text">
                                出售价格：@(aEquipment.SoldPrice.ToString())元
                            </div>
                            @if (aEquipment.Describe.Length > 26)
                            {
                                <div style="margin-top:6px; margin-bottom:8px" class="card-text">@aEquipment.Describe.Substring(0, 26)…</div>
                            }
                            else
                            {
                                <div style="margin-top:6px; margin-bottom:8px" class="card-text">@aEquipment.Describe</div>
                            }
                            <a asp-action="Details" asp-route-id="@aEquipment.Id"
                                    asp-route-returnurl="@System.Web.HttpUtility.UrlEncode("/Equipment/MySharing")"
                                    class="btn btn-success btn-block">
                                共享中
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
